.menu-column {
  position: absolute;
  width: 68px;
  min-width: 5%;
  left: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(50,50,50,1);
}

.menu-column:hover {
  width: 15%;
  transition: all ease .5s;
}

.menu-first {
  margin-top: 65px;
}

.menu-item {
  color: #FFF;
  padding: 1rem;
}

.menu-item-button {
  background-color: blue;
  color: #FFF;
  font-size: 16px;
  margin: 10px;
}